* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url("img/fondo3.jpg");
    width: 100%;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 7em;
    background-color: #000000;
    font-family: 'Times New Roman';
}

h3 {
    text-align: center;
    margin-top: 2%;
}

.bts a {
    font-weight: bold;
    color: #370f86;
    text-decoration: underline;
}

h2 {
    text-align: left;
    color: #370f86;
    font-size: 2.5em;
    margin-top: 3%;
    font-family: 'Times New Roman';
}

.reseña p {
    text-align: justify;
    color: #000000;
    font-size: 18px;
    font-family: Cambria;
    margin-left: 15%;
    margin-right: 15%;
}

.reseña h2 {
    text-align: center;
}

.imagen2 {
    border-radius: 25px;
    border-style: groove;
    border: 8px #eecc8c double;
    width: 350px;
    height: 200px;
    float: right;
    margin-right: 15%;
}

.integrantes li {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 20%;
    font-family: Cambria;
    font-size: 18px;
}

.integrantes h2 {
    margin-left: 20%;
}

.contenedor-musica{
    display: flex;
    width: 100%;
    justify-content: right;
}

.discografia {
    display: flex;
    flex-direction: column;
    background-color: #a4a4a485;
    border-radius: 50px;
    border: 1px #370f86 solid;
    margin-right: 15%;
    margin-top: 6%;
}

.discografia h2 {
    text-align: center;
}

.discografia li {
    list-style-type: circle;
    list-style-position: inside;
    font-family: Cambria;
    font-size: 18px;
    margin-left: 3%;
    margin-bottom: 10%;
    margin-top: 5%;
}

.imagen3 {
    width: 35px;
    float: right;
    margin-inline: 10%;
}

.img-disco{
    margin-right: 5%;
    width: 40%;
    height: 20%;
    margin-top: 8%;
    border-radius: 50px;
    border: 8px #d3a29d double;
}

.contenedor-top{
    display: flex;
    justify-content: left;
    width: 100%;
}

.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a4a4a485;
    border-radius: 60px;
    border: 1px #370f86 solid;
    margin-left: 12%;
    width: 35%;
}

.popular h2 {
    text-align: center;
    color: #370f86;
    margin-top: 8%;
    margin-bottom: 5%;
}

.popular ol {
    text-align: center;
    color: #000000;
    list-style-position: inside;
    font-family: 'Times New Roman';
    font-size: 20px;
}

.img-popular{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}

.img-stage{
    border-radius: 60px;
    border: 8px #9457a3 double;
    width: 400px;
    height: 300px;
}

.img-grupo{
    border-radius: 60px;
    border: 8px #cea0aa double;
    width: 400px;
    height: 300px;
    margin-top: 10%;
}

iframe{
    width: 60%;
    height: 80px;
    border: none;
    margin-bottom: 1%;
}

.estrellas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 2%;
}

.preferida{
    border: 3px #d3a29d solid;
    border-radius: 15px;
}

.favorita{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}