  /*Esta es la corrección completa del ejercicio*/
  body div {
    font-family: Tahoma;
  }
  
  p { 
    color: #808080; 
  }
  
  p:first-child {
    color: black;
  }

  .spaceships .primary { 
    color: darkkhaki;
  }

  .spaceships ul li:last-child {
    color: #FF1493;
  }

  .red {
    color: #FF4500;
  }

  /*Podemos poner lo de .red también así*/
  ul li:last-child {
    color: #FF4500;
  }
  
  
  /* Como lo había hecho en clase 
  
  * { 
  font-family: Tahoma;
  }
  
  p { 
  color: #808080; 
  }

  
  .primary:first-child {
    color: black;
  }
  
  .spaceships .primary { 
    color: darkkhaki;
  }
  
  /*Había borrado el pink, pero lo corregí así
  
  li:last-child { color: #FF1493; }
  .red { color: #FF4500; }



  /*Estas son algunas correcciones

body div { 
    font-family: Tahoma;
}

.spaceships ul li:last-child { 
    color: #FF1493; 
}
